name: XTB Bot PRO

on:
  schedule:
    - cron: "*/15 * * * 1-5"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Restore state cache
        uses: actions/cache@v4
        with:
          path: .state
          key: xtb-state-${{ github.run_id }}
          restore-keys: |
            xtb-state-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run bot
        env:
          TELEGRAMTOKEN: ${{ secrets.TELEGRAMTOKEN }}
          CHATID: ${{ secrets.CHATID }}
          FMPAPIKEY: ${{ secrets.FMPAPIKEY }}
          FINNHUB_API_KEY: ${{ secrets.FINNHUB_API_KEY }} # volitelné (může být prázdné)

          EMAIL_ENABLED: "true"
          EMAIL_SENDER: "berq1994@gmail.com"
          EMAIL_RECEIVER: "berq1994@gmail.com"
          GMAILPASSWORD: ${{ secrets.GMAILPASSWORD }}

          TIMEZONE: "Europe/Prague"

          PREMARKET_TIME: "10:00"
          EVENING_TIME: "20:00"
          OPPORTUNITY_MAX: "5"

          ALERT_START: "15:30"
          ALERT_END: "21:00"
          ALERT_THRESHOLD: "3"

          NEWS_PER_TICKER: "2"
        run: |
          python ahoj.py
